<!DOCTYPE html>
<html>

<head>
<script src="/javascript.js"></script>
</head>

<body>
    {{>header}}
    <h1>
       This website is created by me. It uses data from an api to provide weather forecast.
    </h1>
    {{>footer}}
</body>

</html>
